<style>
#pageHomeContent {
	color:#fff;
	background:url(assets/images/Glasfassade-4.jpg) no-repeat 50%;
	background-size:cover;
	min-height:500px;
	padding:20px;
	position:relative;
}
#pageHomeContent h3.pageContentHeadline {
	background:none;
	border:none;
	padding:0;
	font-size:3em;
}
#pageHomeContent h3.pageContentHeadline,
#pageHomeContent .contentBox {
	background:rgba(0, 0, 0, 0.5);
	padding:10px 15px;
	display:inline-block;
}
</style>
<div id="pageHomeContent">
	<h3 class="pageContentHeadline">Will&shy;kom&shy;men bei BK Clean!</h3>
	<br>
	<p class="contentBox">
		Ihr Partner für professionelle Gebäudereinigung
	</p>
</div>
